.playerPlayback {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.playerPlayback-progressTime {
  /* border: 1px solid red; */
  font: var(--smallFont);
  line-height: 1;
  position: relative;
  top: 1.5px;
}

.playerPlayback-slider {
  /* flex: 1; */ /* <=== es lo mismo que lo de abajo */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
